article {
  width: 300px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: bisque;
}

main {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/*
article {
  width: 300px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: bisque;
}

main {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
*/
